# 取得
VITE_CLIENT_ID=74469365-XXXX-XXXX-XXXX-XXXXXXXXXXXX
VITE_AUTHORITY=https://XXXX.ciamlogin.com/d4291a80-XXXX-XXXX-XXXX-XXXXXXXXXXXX
VITE_SCOPES=openid,profile,email,api://e7f1f26f-XXXX-XXXX-XXXX-XXXXXXXXXXXX/access_as_user
VITE_REDIRECT_URI=
VITE_POST_LOGOUT_REDIRECT_URI=
# 検証
VITE_EXPECTED_ISSUER=https://d4291a80-XXXX-XXXX-XXXX-XXXXXXXXXXXX.ciamlogin.com/d4291a80-XXXX-XXXX-XXXX-XXXXXXXXXXXX/v2.0
VITE_EXPECTED_AUDIENCE=e7f1f26f-XXXX-XXXX-XXXX-XXXXXXXXXXXX
VITE_OPENID_CONFIG_URL=https://XXXX.ciamlogin.com/d4291a80-XXXX-XXXX-XXXX-XXXXXXXXXXXX/v2.0/.well-known/openid-configuration
